<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#showmodal">Sign Up</button>
      </div>
    </div>
  </nav>

  <!-- Registration form as Model. -->
  <p>status: {{registrationForm.status}}</p>
  <div class="modal fade" id="showmodal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Sign Up</h2>
                <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
            </div>
            <form action="" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                <div class="modal-body">
                    <div class="">
                        <label for="name" class="form-label ng-invalid" >Your Name</label>
                        <input type="text" class="form-control" formControlName="name" [class.is-invalid]="formField['name'].invalid && formField['name'].touched" [class.is-valid]="formField['name'].valid && formField['name'].dirty">

                        <small class="text-danger" *ngIf="formField['name'].invalid && formField['name'].touched">Name is required.</small><br>

                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" placeholder="example@gmail.com" formControlName="email" [class.is-invalid]="formField['email'].invalid && formField['email'].touched">

                        <small class="text-danger" *ngIf="formField['email'].invalid && formField['email'].touched">Email is required.</small><br>


                        <label for="pass1" class="form-label">Password</label>
                        <input type="password" class="form-control" formControlName="password" [class.is-invalid]="formField['password'].invalid && formField['password'].touched">

                        <small class="text-danger" *ngIf="formField['password'].invalid && formField['password'].touched">Password is required.</small><br>


                        <label for="pass2" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" formControlName="confirm_password" [class.is-invalid]="registrationForm.errors?.['misMatch']">

                        <small class="text-danger" *ngIf="registrationForm.errors?.['misMatch']">Confirm password must be the same as password</small><br>



                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!registrationForm.valid">Submit</button>
                </div>
            </form>
        </div>
    </div>
  </div>